<div align="center">
    <div>
        {{stateMessage}}
    </div>
    <div ng-show="gameState.isCreated && gameState.isBegin">
        <!--Update price after {{M}} seconds <br>-->
        Session: {{session.id}}<br>
        Name: {{session.product.name}} <br>
        MinPrice: {{session.product.minPrice}}<br>
        CurrentPrice: {{session.product.price}}
        <div class="btn btn-primary create-game" ng-click="buy()">
            Buy
        </div>

        <div class="btn btn-primary create-game" ng-click="buyWiski()" ng-disabled="user.money<5">
            Buy wiski
        </div>
    </div>
</div>